.login-page {
    background-image: url('../../../assets/image/login-page-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}