<div class='login-page'>
    <span class='login-page__layer'></span>
    <div class='login-page__panel'>
        <form class='login-page__panel__form m-center' [formGroup]='loginForm'>
            
            <div class='m__input'>
                <input formControlName='username' type='text' placeholder="username">
            </div>

            <div class='m__input'>
                <input formControlName='password' type='password' placeholder='password'>
            </div>

            <div class='login-page__panel__form__buttons'>
                <button id='login' (click)='onLoginClick()'>login</button>
                <button id='register' (click)='redirectRegisterPage()'>register</button>
            </div>
        </form>
    </div>
        
</div>