.todo-management {

    &__playground {
        background-image: url('../../../assets/image/main-page-bg.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 50px);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px;
        padding: 20px 60px;
    }
}