.todo-list {
    padding: 20px;
    height: 100%;
    background: #00000063;

    &__title {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-family: sans-serif;
        height: 35px;
        line-height: 35px;
        font-size: 17px;
    }

    &__main {
        background: transparent;
        height: calc(100vh - 165px);
        width: 100%;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
          
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}