<!-- <p *ngIf='todo'>{{todo.id}} - {{ todo.title }} - {{ todo.description }} - {{ todo.status }}</p> -->
<div *ngIf='todo'
    class='todo-item'>

    <div class='todo-item__main'
        (click)='toggleDetail()'>

        <h3 *ngIf='!isEditting; else inputTitle' 
            class='todo-item__main__title'>
            {{ todo.title }}
        </h3>
        <ng-template #inputTitle>
            <div class='m__input'
                appClickStopPropagation>
                <input type='text' [(ngModel)]='todo.title'>
            </div>
        </ng-template>

        <div class='todo-item__main__buttons'>
            <button *ngIf="todo.status !== 'defined'" 
                (click)='onDemoteClick()' appClickStopPropagation>
                <fa-icon [icon]='faCaretLeft'></fa-icon>
            </button>
            <button (click)='onDeleteClick()' appClickStopPropagation>
                <fa-icon [icon]='faEraser'></fa-icon>
            </button>
            <button (click)='onEditClick()' appClickStopPropagation>
                <fa-icon [icon]='faEdit'></fa-icon>
            </button>
            <button *ngIf="todo.status !== 'completed'" 
                (click)='onPromoteClick()' appClickStopPropagation>
                <fa-icon [icon]='faCaretRight'></fa-icon>
            </button>
        </div>
    </div>

    <div [ngClass]="{'todo-item__detail': true, 'todo-item__detail--active': isShowDetail}">

        <div *ngIf='!isEditting; else inputDescription'
            class='todo-item__detail__description'>
            {{ todo.description }}
        </div>
        <ng-template #inputDescription>
            <div class='m__textarea'>
                <textarea [(ngModel)]='todo.description'></textarea>
            </div>
        </ng-template>

        <div *ngIf='isEditting'
            class='todo-item__detail__buttons'>
            <button (click)='onCancelEditClick()'>
                <fa-icon [icon]='faTimes'></fa-icon>
            </button>
            <button (click)='onSaveEditClick()'>
                <fa-icon [icon]='faCheck'></fa-icon>
            </button>
        </div>
    </div>
</div>