<div class='register-page'>

    <div class='register-page__panel'>
        <form class='register-page__panel__form' [formGroup]='registerForm'>
            
            <div class='m__input'>
                <input placeholder='username' formControlName='username' type='text'>
            </div>
            <div class='m__input'>
                <input placeholder='password' formControlName='password' type='password'>
            </div>
            <div class='m__input'>
                <input placeholder='confirm password' formControlName='confirmPassword' type='password'>
            </div>
            <span class='message message--error' *ngIf="registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid">confirm password not match password</span>
            <button class='register-page__panel__form__button' 
                (click)='onRegisterClick()'
                [disabled]='isDisableRegisterButton()'>
                register
            </button>
        </form>
    
    </div>

</div>
