.register-page {
    height: 100vh;
    background-image: url('../../../assets/image/register-page-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #34495e;
    position: relative;

    &__panel {
        background: #1f203bad;
        width: 33%;
        height: 100%;
        right: 0;
        top: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        &__form {
            display: grid;
            grid-gap: 15px;
            width: 60%;

            &__button {
                height: 30px;
                color: #fff;
                text-transform: capitalize;
                background: #2ecc71;
                cursor: pointer;

                &:disabled {
                    filter: brightness(.5);
                    cursor: not-allowed;
                }
            }
        }        
    }

    .message {
        font-family: monospace;
        
        &--error {
            color: #e74c3c;
        }
    }
}