/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.m {
    &__input {
        height: 35px;
        background: #fff;
        padding: 0 20px;
        border-radius: 5px;
        input {
            height: 100%;
            width: 100%;
            background: transparent;
            color: #1c1c1c;
            &:focus {
                outline: none;
            }
        }
    }

    &__textarea {
        height: 200px;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        textarea {
            height: 100%;
            width: 100%;
            background: transparent;
            color: #1c1c1c;
            font-family: sans-serif;
            resize: none;
            &:focus {
                outline: none;
            }
        }
    }
}